h2{
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.myBtn1{
    background-color: black;
    border: none;
    color: white;
}

p{
    font-family:Arial, Helvetica, sans-serif;
    color:purple;
}

img{
    position: center;
}